* {
    border: none;
    border-radius: 0;
    font-family: Inter, Material Design Icons Desktop, sans-serif;
    /* font-feature-settings: 'tnum' 1; */
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    color: #D8DEE9; /* nord4 */
    background: #2E3440; /* nord0 */
}

#workspaces button {
    padding: 0 8px;
    color: #D8DEE9; /* nord4 */
    background: #2E3440; /* nord0 */
}

#workspaces button.visible {
    border: 1px solid #88C0D0; /* nord8 */
}

#workspaces button.focused {
    color: #2E3440; /* nord0 */
    background: #88C0D0; /* nord8 */
}

#workspaces button.urgent {
    background: #BF616A; /* nord11 */
}

#mode {
    background: #3B4252; /* nord1 */
}

#clock, #battery, #cpu, #memory, #network, #backlight, #pulseaudio, #idle_inhibitor, #custom-bluetooth, #custom-gammastep, #custom-syncthing, #tray, #mode {
    padding: 0 4px;
    margin: 0 4px;
}

#clock {}

#battery {}

@keyframes blink {
    to {
        color: #D8DEE9; /* nord4 */
        background: #2E3440; /* nord0 */
    }
}

#battery.warning:not(.charging) {
    background: #D08770; /* nord12 */
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background: #BF616A; /* nord11 */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {}

#memory {}

#network {}

#network.disconnected {
    color: #D8DEE9; /* nord4 */
    background: #BF616A; /* nord11 */
}

#backlight {}

#pulseaudio {}

#pulseaudio.muted {
    /*color: #4C566A;*/ /* nord3 */
}

#idle_inhibitor {}

#idle_inhibitor.activated {}

#custom-gammastep {}

#custom-syncthing {}

#taskbar button {
    background: #2E3440; /* nord0 */
}

#tray {
    background: #2E3440; /* nord0 */
}
